body {
    background-color: black;
    color: white;
}

#gameBoardDiv {
    border: 2px solid white;
    height: 25vh;
    width: 50vw;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    
}

#gameBoardSquare {
    border: 2px solid rgb(146, 141, 141, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameBoardSquare:hover {
    background-color: rgb(128, 128, 128, 0.4);
}